/* Ajoute un peu d'espace sous les champs et entêtes de catégorie */
h2, .input-group {
  margin-bottom: 5px;
}

/* Crée un séparateur horizontal */
.divider {
  height: 1px;
  width: 100%;
  display: block;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}